
  /*--- HOME ---*/
  .homepage-home-content {
    background: url(/src/assets/homepage.png) no-repeat;
    background-size: 100% 100%;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    height: 94vh;
    margin-top: -1.13%;
    margin-left: -1.48%;
    width: 119.7%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-page {
    content: "";
    position: absolute;
    top: 42.6%;
    left: 23.4%;
    width: 50.5%;
    height: 35.6%;
    background-size: cover;
    z-index: 1;
}

  .homepage-home-content h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 96px;
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 90px;
    margin-top: 60px;
  }
  
  .homepage-home-content h1:after {
    border-bottom: 1px solid #AAA;
  }
  
  .homepage-home-content h5 {
    font-size: 16px;
    color: #555;
  }
  
  @media screen and (min-width: 768px) {
    .home-content h1 {
      font-size: 120px;
      line-height: 114px;
    }
    .home-content h5 {
      font-size: 19px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .homepage-home-content h1 {
      font-size: 132px;
      margin-top: 70px;
    }
    .homepage-home-content h5 {
      font-size: 21px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .homepage-home-content h1 {
      font-size: 142px;
      line-height: 124px;
    }
    .homepage-home-content h5 {
      font-size: 24px;
    }
  }
  
  /*--- PORTFOLIO ---*/

  /* Rest of the portfolio styles remain unchanged */
  
  /*--- CONTACT ---*/

  /* Rest of the contact styles remain unchanged */


  
  
  /* Rest of the social button styles remain unchanged */
  
  .w-full {
    width: 251vh;
  }
  
  .homepage-green {
    background: url(/src/assets/bglow.png) no-repeat;
    background-size: 100% 100%;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    height: 34vh;
    margin-top: -1.13%;
    margin-left: -1.48%;
    width: 119.7%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homepage-about {
    background: url(/src/assets/bottom.png) no-repeat center center;
    background-size: 100% 100%;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    height: 18vh;
    width: 80%; /* Adjust the width as needed */
    margin: 0 0 10vh 35vh;
        display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Add the following styles to override any potential conflicting styles */
  body, html {
    height: 100%;
    margin: 0;
  }
  