/* custom.css */

body {
    background-color: black;
    color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    justify-content: center;
    align-items: center;
  }

  code {
    font-family: source-code-pro, Menlo, 'Monaco', Consolas, 'Courier New',
      monospace;
  }
  
 .form-check{
   justify-content: center;
 }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #000000;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,  rgba(0, 113, 113, 0.9), rgba(0, 0, 0, 0.9));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(3, 168, 168, 0.9), rgba(0, 0, 0, 0.9));
  }
  
  .custom-navbar {
    height: 150px; 
  }
  
  .col {
    color: #ffb300;
  }
  
  .form-container{
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .h3{
    justify-content: center;
    align-items: center;
  }
  
  .homepage{
    align-items: center;
    width: 80%;
    
  }

  .container-main{
    color: #ffb300;
    

  }

  .heading-1{
    color: #ffb300;
    font-size:xx-large;
    text-transform: capitalize;
    font: bold;
    border: #ffb300;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,bold;
  }

  .create-button{
    color: #ffb300;
    font-weight: bold;
    border-color: #ffb300;
    
  }

  

  .react-tel-input .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  

.btn-showPassword{
  color: black;
  background-color: #ffb300;
  padding-bottom: 10px;
}

.bar {
  background-color: #ffb300 !important;
  border: #ffb300;
  border-style: solid;
}

.custom-dropdown-style {
  /* Your custom styles here */
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100% !important;
  height: 60% !important;
  
  /* Add more styles as needed */
}
  