@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #212227;
}
.league-selected{
  text-shadow: 0px 0px 40px #1EFF00;
 
}
.league-selected{

}

.active-item{
  background:linear-gradient(180deg, #BE8200 0%, #FEF098 47.4%, #EFD261 100%);
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
color: #1B1C21;
text-shadow: 0px 4px 4px rgba(236, 250, 242, 0.12);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.element-container input {
  padding: 14px 20px;
  border-radius: 4px;
  border: 1px solid #3C3C3C;
  background: #2C2C2C;
  color: white;
}

.zip-code{
  height: 59px;
}
/* .flex {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
} */
/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}

.bg-yellow-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(161 98 7 / var(--tw-bg-opacity));
    width: 65px;
    height: 4vh;
}

.w-40 {
  width: 40rem;
}