@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');


*{
  color: #ffb300;
}
.gradient-custom {
  /* fallback for old browsers */
  background: rgba(0, 0, 0, 0.9);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
}

  .logo-img{
    height: 30%;
    width: 20%;
    padding-left: 40px;
  }

  .form-label{
    color: #ffb300;
  }

  .custom-input {
    height: 30px; /* Adjust the height value as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-center {
    display: flex;
    align-items: center;
    position: relative; /* Set position to relative */
    z-index: 1000; /* Set a higher z-index value */
  }
  
  .dropdown-menu {
    position: absolute; /* Set position to absolute */
    top: 100%; /* Position the dropdown menu below the button */
    left: 0;
    z-index: 10000; /* Set an even higher z-index value */
  }
  