table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}

/* Add styles for mobile view and set initial position for draggable table */
.table-container {
  overflow-x: auto;
  position: relative;
  max-width: 100%;
}

/* Media query for mobile view */
@media only screen and (min-width: 400px) and (max-width: 800px) {
  .table-container {
    overflow-x: hidden;
  }
}

