
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.games-banner {
    width: 100%; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background: linear-gradient(180deg, #BE8200 0%, #FEF098 47.4%, #EFD261 100%);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    align-items: center; /* Center contents vertically */
}
