.search-bar-container {

  button,
  a,
  li {
    font-size: 15px;
  }

  li {
    list-style: none;
  }

  .menu-nav button a,
  .menu-nav button img {
    pointer-events: none;
  }

  .menu-container {
    top: 0;
    position: sticky;
    width: 100%;
    /* background-color: #353535; */
    min-height: 100px;
    padding: 15px 2vw;
    height: auto;
    display: flex;
    align-items: center;
  }

  .menu-nav {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu-nav-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .menu-nav button {
    padding: 7px 10px;
    height: 40px;
    width: 114px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
  }

  @media (max-width: 920px) {

    .menu-nav-buttons {
      display: flex;
      gap: 10px;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .menu-nav button a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    text-transform: uppercase;
    /* Changed from 'capitalize' */
  }

  .menu-nav button:hover {
    cursor: pointer;
  }

  .menu-nav button img {
    width: 10px;
  }

  .nav-button-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .nav-button-container:hover .nav-button-submenu {
    display: block;
  }

  .nav-button-container.hover .nav-button-submenu,
  .nav-button-container.active .nav-button-submenu {
    display: flex !important;
  }

  .nav-button-submenu {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 300px;
    padding: 10px 0;
    border-radius: 3px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
  }

  .nav-button-container button:hover .nav-button-submenu {
    display: block;
  }

  .nav-button-submenu li {
    padding: 6px 20px;
  }

  .nav-button-submenu li:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }

  .nav-button-submenu li a {
    pointer-events: none;
  }

  .nav-button-submenu div.show {
    display: block;
  }

  /* .nav-button-submenu li.hide {
    display: none;
  } */

  button.greyed-out img,
  button.clicked img {
    display: none;
  }

  /* --------------BUTTON COLORS-------------- */
  /* Give every button a default background color, 
because some browsers don't support linear gradients */

  button.unset {
    background-color: #ffc233;
    background-image: linear-gradient(#fbd78a, #fbd78a 75%, #5b4310);
  }

  button.unset:hover {
    background-color: #ffb300;
    background-image: linear-gradient(#ffd06a, #ffb300 75%, #3f2e0c);
  }

  button.greyed-out {
    background-color: #bbbbbb;
    background-image: linear-gradient(#eaeaea, #bbbbbb 75%, #494949);
    pointer-events: none;
  }

  button.clicked {
    background-color: #ffc233;
    background-image: linear-gradient(#fbd78a, #fbd78a 75%, #5b4310);
  }

  button.clicked:hover {
    background-color: #ffc233;
    background-image: linear-gradient(#fbd78a, #fbd78a 75%, #5b4310);
  }

  button.reset-button {
    background-color: #ca4040;
    background-image: linear-gradient(#ff7e7e, #ca4040 75%, #5c2323);
  }

  button.reset-button:hover {
    background-color: #de3030;
    background-image: linear-gradient(#fe6666, #de3030 75%, #6e1414);
  }

  @media (max-width: 1820px) {
    .menu-nav {
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  @media (max-width: 920px) {

    button,
    a,
    li {
      font-size: 14px;
    }

    .menu-nav button {
      padding: 2px 10px;
      height: 35px;
      width: 130px;
    }

    .nav-button-submenu li {
      padding: 4px 15px;
    }

    .menu-nav-buttons {
      gap: 3px;
    }
  }

  @media (max-width: 420px) {
    .menu-nav button {
      width: 45vw;
    }
  }
}