
#progressbar li.active:before, #progressbar li.active:after {
  background: #FFAE00;
  background-image: url("../../assets/logo.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;

}

.Captcha {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  font-family: sans-serif;
  text-align: center;
}
