
#progressbar li.active:before, #progressbar li.active:after {
  background: #FFAE00;
  background-image: url("../../assets/logo.png");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;

}

.Captcha {
  font-family: sans-serif;
  text-align: center;
}

.password-section{
  width: 140vh;
}