body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  font-size: 16px;
  width: 80%;
  margin: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.league-selected {
  text-shadow: 0px 0px 40px #1EFF00;

}

.active-item {
  background: linear-gradient(180deg, #BE8200 0%, #fea498 47.4%, #EFD261 100%);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  color: #1B1C21;
  text-shadow: 0px 4px 4px rgba(236, 250, 242, 0.12);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.element-container input {
  padding: 17px 20px;
  border-radius: 4px;
  border: 1px solid #3C3C3C;
  background: #2C2C2C;
  color: white;
}

.zip-code {
  height: 59px;
}

/* .flex {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
} */
/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {

    .dark\:bg-gray-800 {
      margin-left: 43vh;
    }
  }



}

.bg-yellow-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 98 7 / var(--tw-bg-opacity));
  width: 65px;
  height: 4vh;
}

.w-40 {
  width: 40rem;
}

.r-modal-header .cross-btn {
  position: absolute;
  right: 19px;
  top: 2px;
  cursor: pointer;
}





.gap-1 {
  gap: 0.75rem;
}




/* Styles for desktop devices */


.Navbar-Header,
#homepage {
  background-image: url("./assets/GreenTopBanner.png");
  height: 5vh;
  display: flex;
  justify-content: space-around;
}


@media (max-width: 768px) {

  .container {
    direction: column;
  }

  .css-1lgwsod-MuiTypography-root {
    font-size: 0.6rem;
  }

}

.css-1lgwsod-MuiTypography-root {
  font-size: 0.9rem;
}

.sign-in-button,
.register-button {
  /* Styles for the Sign In and Register buttons */
  padding: 10px 20px;
  border: 2px solid #FFD700;
  /* Yellow color */
  color: #FFD700;
  /* Yellow color */
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  /* White background */
  cursor: pointer;
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-image: url("./assets/GreenTopBanner.png");
    width: 100%;
  }
}





.css-ahj2mt-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: white;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {

  background-color: transparent !important;
}



.w-full {
  width: 100%;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.flex {
  display: flex;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


@media only screen and (min-width: 992px) {


  .flex {
    display: flex;
    justify-content: space-between;
  }
}

.items-center {
  align-items: center;
}

label {
  color: white;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.rounded {
  border-radius: 0.25rem;
}


/* Styling for the navbar and list items */
.navbar-stats {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0;
  gap: 21px;
  width: auto;
  height: 70px;
  border-bottom: 1px solid #393939;
}

.ul-stats {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.li-stats {
  position: relative;
  /* Added for positioning the underline */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  filter: drop-shadow(0px 4px 40px #000000);
}

.a-stats {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: transparent;
}

/* Highlighted text and underline for selected tab */
.li-stats.active .a-stats {
  background: linear-gradient(180deg, #BE8200 0%, #FEF098 47.4%, #EFD261 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.li-stats.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg, #BE8200 0%, #FEF098 47.4%, #EFD261 100%);
  opacity: 1;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 4px 84px 20px;
  gap: 20px;
  /* width: 640.5px; */
  height: 517px;
  background: #212121;
}


.card-header {
  margin-bottom: 20px;
}

.card-data {
  background-color: #2D2D2D;
  border-radius: 5px;
}

.card-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-item {
  width: 200px;
  /* Adjust width as needed */
  text-align: center;
  margin-bottom: 20px;
}

.player-name,
.player-points {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}


.row-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 84px;
  width: 522px;
  height: 413px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 42px;
  width: 175px;
  height: 357.14px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-right {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 263px;
  height: 413px;
  background: #2D2D2D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: space-between;
  flex-direction: column;
}

/* Stats.css */

/* Styles for screens larger than 768px */
@media (min-width: 768px) {
  .col-6 {
    width: 50%;
    float: left;
  }

}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .col-6 {
    width: 100%;
    float: none;
  }

  .game-grid {
    width: 100%;
  }

  .card-right {
    margin-left: -15vh;
    margin-top: 20px;
  }

  .flag {
    margin-left: -3vh;
    width: 10vh;
  }

  .pf {
    width: 20vh;
    margin-left: -19vh;
  }
}

.flag {

  position: absolute;
  width: 25vh;
  height: auto;
}

.pf {
  border-radius: 50%;

  position: absolute;
  width: 7vh;
  height: auto;
  margin: 30px 0px 0px 68px;
}

/* Points/Stats/Goals */
.points-stat {

  background-color: #2D2D2D;
  border-radius: 5px;
  color: rgb(44, 221, 20);

}

.css-1bnhfwg-MuiGrid-root>.MuiGrid-item {
  padding-top: 0px;
}

.css-16jphc-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: transparent !important;
}

.game-grid {
  width: 110%;
  margin-left: -50px;
}

/* Stats */
.points-stat{

  background-color:#2D2D2D ;

  color:rgb(44, 221, 20);

}
.custom-table th, .custom-table td {

  padding: 10px;
  padding-left: 10px;
  text-align: left;
  
}

.stats-page {
  background-color: #000; 
  color: #fff;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.button-group button {
  background-color: #444; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #555; 
}

table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {

  padding: 5px 10px; 
  text-align: center;
  
  
}
th{
  color: rgb(179, 179, 0);
}

thead {
  background-color: black;
}

tbody tr:nth-child(even) {
  background-color: #121212; 
  
}

tbody tr:hover {
  background-color: #333; 
}
thead:hover{
  background-color: #333; 
}
.navbar-brand{
  color: white;
}



