/* Default styles for all screen sizes */
.game-card {
    border-radius: 6px;
    border: 1px solid #626262;
    background: #212121;
    padding: 24px;
    margin-bottom: 20px; /* Add margin to separate cards */
  }
  
  .game-time,
  .game-date,
  .box,
  .card-input,
  .line,
  .card-id,
  .card-label,
  .card-btn-outline,
  .card-btn {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .game-time {
    color: #fef098;
  }
  
  .game-date {
    color: #fff;
  }
  
  .box {
    background: linear-gradient(185deg, #45423a 15.54%, #202126 114.57%);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    flex-direction: column;
  }
  
  .box label {
    background: linear-gradient(180deg, #be8200 0%, #fef098 47.4%, #efd261 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card-input {
    border-radius: 4px;
    border: 2px solid #be8200;
    width: 53px;
    height: 42px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .line {
    height: 8px;
    border-radius: 1px;
    background: linear-gradient(185deg, #45423a 15.54%, #202126 114.57%);
  }
  
  .card-id {
    color: #737373;
  }
  
  .card-label {
    color: #fff;
  }
  
  .card-btn-outline {
    border-radius: 4px;
    border: 1px solid #be8200;
    padding: 10px;
    background: linear-gradient(180deg, #be8200 0%, #fef098 47.4%, #efd261 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card-btn {
    border-radius: 4px;
    background: linear-gradient(180deg, #be8200 0%, #fef098 47.4%, #efd261 100%);
    padding: 10px;
    color: #000;
  }
  
  /* Media queries for different screen sizes */
  
  /* For screens smaller than 768px wide (e.g., smartphones) */
  @media (max-width: 768px) {
    .game-card {
      padding: 16px;
    }
  
    .game-card {
      width: 100%; /* Ensure cards take up full width */
      margin-right: 0; /* Remove right margin to prevent horizontal overflow */
    }
  }
  
  .game-card span {
    height: 40px !important;
    margin-bottom: 0.4rem;
  }
  