table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}

/* Add styles for mobile view and set initial position for draggable table */
.table-container {
  overflow-x: auto;
  position: relative;
  max-width: 100%;
}

/* Media query for mobile view */
@media only screen and (min-width: 400px) and (max-width: 800px) {
  .table-container {
    overflow-x: hidden;
  }
}


.border-separate {
  border-collapse: separate;
}
.table-auto {
  table-layout: auto;
}
.w-full {
  width: 100%;
}
.mt-5 {
  margin-top: 1.25rem;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.bg-\[\#181818\] {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 24 / var(--tw-bg-opacity));
}
.h-14 {
  height: 3.5rem;
}