/* ScoreEntry.css */

.score-entry-container {
    background-color: #212121 !important;
    color: rgba(190, 130, 0, 1) !important;
}



.css-1ygcj2i-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root {
    color: rgba(190, 130, 0, 1) !important;

}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {

    background-color: white !important;
}

.MuiTabs-root {
    padding: 10px;
    border-bottom: 2px solid rgba(190, 130, 0, 1);
    /* Add a bottom border to the tabs */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a box shadow to the tabs */
}

/* Styles for the active tab */
.Mui-selected {

    /* background-color: #FF0000 !important; */
    color: white !important;
}

.css-1wf8b0h-MuiTabs-flexContainer {

    display: flex !important;
    justify-content: flex-start !important;
    column-gap: 1vh !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    background-color: white !important;
    border-radius: 15px;
}

/* Date */
.css-4jnixx-MuiStack-root>.MuiTextField-root {
    background-color: gray;
}

.centered-button {
    display: flex;
    justify-content: center;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked,
.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
    color: white !important;
}

.league-select{
    background: linear-gradient(180deg, #be8200 0%, #fef098 47.4%, #efd261 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #be8200 !important;
    border-radius: 4px !important;

 

}

.Tab{
    background: linear-gradient(185deg, #45423a 15.54%, #202126 114.57%);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    flex-direction: column;

}
.date-picker{
    background-color: #212121 !important;
    -webkit-text-fill-color: white;
    border: 1px solid #be8200 !important;
    border-radius: 4px !important;
}

.Textfield{
    background-color: #212121 !important;
    -webkit-text-fill-color: white;
    border: 1px solid #be8200 !important;
    border-radius: 4px !important;
}