/* Navbar.css */

/* Mobile Menu */
.mobile-menu {
    display: none; /* Hidden by default */
  }
  
  /* Show mobile menu when it's open */
  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    right: 0;
    background-color: #1B1C21;
    border: 1px solid #313131;
    z-index: 1000;
  }
  
  .mobile-menu a {
    color: #EFD261;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Burger icon */
  .burger-icon {
    display: none; /* Hidden by default on larger screens */
    cursor: pointer;
  }
  
  /* Style the burger icon */
  .burger-icon div {
    width: 30px;
    height: 3px;
    background-color: #EFD261;
    margin: 6px 0;
    transition: 0.4s;
  }
  